<p>
  main-content works!
</p>
<app-album-sets-viewer *ngIf="selectedNode == null" (selectionChanged)="onSelectionChanged($event)"></app-album-sets-viewer>
<app-albums-viewer *ngIf="selectedNode !=null && selectedNode.getTypeName() === 'AlbumSet'" [albumSet] = 'selectedNode' (selectionChanged)="onSelectionChanged($event)"></app-albums-viewer>
<app-photos-viewer *ngIf="selectedNode !=null && selectedNode.getTypeName() === 'Album'" [album] = 'selectedNode' (selectionChanged)="onSelectionChanged($event)"></app-photos-viewer>
