.main-div {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 100%;
    /* background-color: #2b2c2e; */
}
.title-div{
    align-self: center;
}
  
.stage-div {
    margin-left: auto;
    margin-right: auto;
}

.photo-list-div{
    width: 100%;
}
